@font-face {
  font-family: HelveticaBlack;
  src: url("../fonts/HelveticaNeue/HelveticaNeueLTStd-Blk.otf")
    format("opentype");
}

.returnArrow {
  position: fixed;
  left: 10px;
  bottom: 50px;
  color: #e6f9a7;
  font-size: 60px;
  grid-column: 1;
  grid-row: 1;
}

.returnMessage {
  width: 500px;
  height: 100px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: 500;
  background: rgba(255, 255, 255, 0.9);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
  border-radius: 20px;
  opacity: 0;
  transition: all 1000ms;
  font-family: HelveticaBlack;
  color: black;
}

@media only screen and (max-width: 800px) {
  .returnmessage {
    display: none;
  }
  .returnArrow {
    display: none;
  }
}
